html, body 
{
height: 100%;
margin: 0;
overflow: hidden;
}

.container
{
display: block;
height: 100%;
width: 100%;
}

#c

{
z-index:-1;
position:absolute;
left: 0px;
top: 0px;
}

div

{
display: flex;
align-items: center;
height: 100%;
width: 100%;
justify-content: center;
}

button
{
z-index:1;
background-color:black;
color:white;
border-style:none;
}

button:focus
{
outline:none;
}
#Teal{
	color:#00ffff;
}
#Green{
	color:#3BD83B;
transform: translate(-41px, 35px); 
}
#Blue{
	color:#293CCB;
transform: translate()	
}
#Red{
	color:#ff0000;
transform: translate(-5px, 35px);
}
#Pink{
	color:#ff00ff;
transform: translate(-41px, 0px);
}
#Purple {
	color:#8000ff;
transform: translate(-60px, 35px);
}